
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

style
    include style1.css
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/home">Home</a>
  <a href="/course">Courses</a>
  <a href="/addCourse">Add Course</a>
  <a href="/faculty">Faculties</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

script
    include script.js

   
</body>
</html> 
